html {
    font-size: 16px;
    width: 100%;
    height: 100%;
}
body{
    background: #fff;
}
@media screen and (min-width: 375px) {
    html {
        /* iPhone6的375px尺寸作为16px基准，414px正好18px大小, 600 20px */
        font-size: calc(100% + 2 * (100vw - 375px) / 39);
        font-size: calc(16px + 2 * (100vw - 375px) / 39);
    }
}
@media screen and (min-width: 414px) {
    html {
        /* 414px-1000px每100像素宽字体增加1px(18px-22px) */
        font-size: calc(112.5% + 4 * (100vw - 414px) / 586);
        font-size: calc(18px + 4 * (100vw - 414px) / 586);
    }
}
@media screen and (min-width: 600px) {
    html {
        /* 600px-1000px每100像素宽字体增加1px(20px-24px) */
        font-size: calc(125% + 4 * (100vw - 600px) / 400);
        font-size: calc(20px + 4 * (100vw - 600px) / 400);
    }
}
@media screen and (min-width: 1000px) {
    html {
        /* 1000px往后是每100像素0.5px增加 */
        font-size: calc(137.5% + 6 * (100vw - 1000px) / 1000);
        font-size: calc(22px + 6 * (100vw - 1000px) / 1000);
    }
}



.footer{
    width: 100%;
    height: 60px;
    border-top: 1px solid #edefee;
    background: #fff;
    position: fixed;
    z-index: 99;
    bottom: 0;
}
.footer-box{
    width: 25%;
    float: left;
    height: 60px;
    text-align: center;
}
.footer-box i{
    font-size: 1.2rem;
    margin: 4px 0;
}
.footer-box i,.footer-box span{
    display: block;
    color: #4c4c4c;
    
}
.footer-box span{
    font-size: 0.9rem;
}
.active{
    color: #fd6c00!important;
}
.nav{
    width: 100%;
    height: 40px;
    background: #fafafa;
    position: fixed;
    top: 0;
    overflow: hidden;
}
.nav a{
    width: 15.5%;
    text-align: center;
    line-height: 40px;
    font-size: 0.9rem;
    display: inline-block;
}
.center{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 60px;

}
.center-box{
    width: 100%;
    height: 5rem;
    border-bottom: 1px solid #ccc;
}
.center-box-cr{
    width: 95%;
    height: 100%;
    margin:0 auto;
    overflow: hidden;
}
.center-box-cr>img{
    width:30%;
    height:3.825rem;
    float: left;
    margin-top: 0.625rem;
}
.center-box-cr>p{
    font-size: 0.9rem;
    line-height: 20px;
    color: #4d4d4d;
    margin-top: 0.625rem;
    float: left;
    width: 65%;
    margin-left: 3%;
    margin-bottom: 2%;
}
.time{
    margin-left: 3%;
    font-size: 0.8rem;
    color: #999999;
}
.cost{
    margin-left:8%;
    font-size: 0.8rem;
    color: #feb280;
}
.cost i,.click i{
    font-size: 0.8rem;
}
.click{
    margin-left: 1%;
    font-size: 0.8rem;
    color: #999999;
}